# Data
data/raw/
data/processed/
*.csv
*.pkl
*.joblib

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# MLflow
mlruns/

# Docker
.DS_Store